$font-noto: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
 
$min-mobile: 320;
$max-mobile: 720;

// highlight color
$color-highlight-1: #fff395;
$color-highlight-2: #fff395;

$color-blue-1: #3483d2;

// basic color
$color-0: #000;
$color-1: #111;
$color-2: #222;
$color-3: #333;
$color-4: #444;
$color-5: #535353;
$color-6: #666;
$color-7: #777;
$color-8: #888;
$color-9: #999;
$color-10:#8b95a1;

$color-white: #fff;
$color-black:#020202;
$color-blue:#3483d2;

// border color
$border-color-1: #696969;
$border-color-2: #ebebeb;
$border-color-3: #f8f8f8;
$border-color-4:#adadad;
$border-color-5:#e8e8e8;
$border-color-6:#8b95a1;

$border-color-white:#fff;
$border-color-black:#020202;
$border-color-blue:#3483d2;

// bg color
$bg-color-0: #fef0e7;
$bg-color-1: #fecbbe;
$bg-color-3: #fff;
$bg-color-4: #f2f2f2;
$bg-color-5: #ddd;
$bg-color-6:#3483d2;
$bg-color-7:#f9fafb;

$bg-color-white:#fff;
$bg-color-black:#020202;
$bg-color-blue:#3483d2;

// z-index
// z-index: map-get($z-index, dim);
$z-index: (
    close: 300,
    popup: 200,
    dim: 100,
    menu: 50,
    banner: 10
);
